@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"); */

*,
*::before,
*::after {
  @apply box-border m-0 p-0;
}
body,
input {
  font-family: "Poppins", sans-serif;
}
main {
  @apply w-full min-h-screen overflow-hidden bg-[#292E47] flex items-center justify-center p-8;
}
.box {
  @apply relative w-full max-w-[1020px] h-[640px] bg-white shadow-[0_60px_40px_-30px_rgba(0,0,0,0.27)] rounded-[3.3rem];
}
.inner-box {
  @apply absolute w-[calc(100%_-_4.1rem)] h-[calc(100%_-_4.1rem)] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4;
}
.toggle {
  @apply text-[#151111] no-underline text-xs font-medium transition-[0.3s];
}
.forms-wrap {
  @apply absolute h-full w-[45%] grid grid-cols-[1fr] grid-rows-[1fr] transition-[0.8s] duration-[ease-in-out] left-0 top-0;
}
form {
  @apply max-w-[260px] w-full h-full flex flex-col justify-evenly col-[1_/_2] row-[1_/_2] transition-opacity duration-[0.02s] delay-[0.4s] mx-auto my-0;
}
form.sign-up-form {
  @apply opacity-0 pointer-events-none;
}
.heading h2 {
  @apply text-[2.1rem] font-semibold text-[#151111];
}
.heading h6 {
  @apply text-[#bababa] font-normal text-xs inline;
}
.input-wrap {
  @apply relative h-[37px] mb-8;
}
.input-field {
  @apply absolute w-full h-full text-[0.95rem] text-[#151111] transition-[0.4s] p-0 border-b-[#bbb] border-[none] border-b border-solid;
  background: none;
  outline: none;
}
label {
  @apply absolute -translate-y-2/4 text-[0.95rem] text-[#bbb] pointer-events-none transition-[0.4s] left-0 top-2/4;
}
.input-field.active {
  @apply border-b-[#151111];
}
.input-field.active + label {
  @apply text-xs -top-0.5;
}
.sign-btn {
  @apply inline-block w-full h-[43px] bg-[#151111] text-white cursor-pointer text-[0.8rem] transition-[0.3s] mb-8 rounded-[0.8rem] border-[none] hover:bg-[#8371fd];
}
.text {
  @apply text-[#bbb] text-[0.7rem];
}
.text a {
  @apply text-[#bbb] transition-[0.3s] hover:text-[#8371fd];
}
main.sign-up-mode form.sign-in-form {
  @apply opacity-0 pointer-events-none;
}
main.sign-up-mode form.sign-up-form {
  @apply opacity-100;
  pointer-events: all;
}
main.sign-up-mode .forms-wrap {
  @apply left-[55%];
}
main.sign-up-mode .carousel {
  @apply left-[0%];
}
.carousel {
  @apply absolute h-full w-[55%] bg-[#D2D0EA] grid grid-rows-[auto_1fr] overflow-hidden transition-[0.8s] duration-[ease-in-out] pb-8 rounded-[2rem] left-[45%] top-0;
}
.images-wrapper {
  @apply grid grid-cols-[1fr] grid-rows-[1fr];
}
.image {
  @apply w-full col-[1/2] row-[1/2] opacity-0 transition-opacity duration-[0.3s,transform] delay-[0.5s] ;
}
.img-1 {
  @apply translate-x-0 ;
}
.img-2 {
  @apply translate-x-0 ;
}
.img-3 {
  @apply translate-x-0 ;
}
.image.show {
  @apply opacity-100;
  transform: none;
}
.text-slider {
  @apply flex items-center justify-center flex-col;
}
.text-wrap {
  @apply max-h-[2.2rem] overflow-hidden mb-10;
}
.text-group {
  @apply flex flex-col text-center translate-y-0 transition-[0.5s];
}
.text-group h2 {
  @apply leading-[2.2rem] font-semibold text-[1.6rem];
}
.bullets {
  @apply flex items-center justify-center;
}
.bullets span {
  @apply block w-2 h-2 bg-[#aaa] cursor-pointer transition-[0.3s] mx-1 my-0 rounded-[50%];
}
.bullets span.active {
  @apply w-[1.1rem] bg-[#151111] rounded-2xl;
}

/*Media Queries------------------------------------*/

@media (max-width: 850px) {
  .box {
    @apply h-auto max-w-[550px] overflow-hidden;
  }
  .inner-box {
    @apply static w-[revert] h-[revert] p-8;
    transform: none;
  }
  .forms-wrap {
    @apply w-full h-auto;
    position: revert;
  }
  form {
    @apply max-w-[revert] pt-6 pb-8 px-10;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }
  .heading {
    @apply mx-0 my-8;
  }
  form.sign-up-form {
    @apply translate-x-full;
  }
  main.sign-up-mode form.sign-in-form {
    @apply -translate-x-full;
  }
  main.sign-up-mode form.sign-up-form {
    @apply translate-x-[0%];
  }
  .carousel {
    @apply h-auto w-full flex px-8 py-12;
    position: revert;
  }
  .images-wrapper {
    @apply hidden;
  }
  .text-slider {
    @apply w-full;
  }
}
@media (max-width: 530px) {
  main {
    @apply p-4;
  }
  .box {
    @apply rounded-[2rem];
  }
  .inner-box {
    @apply p-4;
  }
  .carousel {
    @apply px-4 py-6 rounded-[1.6rem];
  }
  .text-wrap {
    @apply mb-4;
  }
  .text-group h2 {
    @apply text-[1.2rem];
  }
  form {
    @apply pt-4 pb-6 px-8;
  }
}
