@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"); */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

html,body{
  height: 100%;
  font-size: 14px;
}

h1{
  font-size: clamp(34px, 32px, 24px);
  font-weight: 600;
  color: hsla(230, 27%, 22%, 1);
}

h2{
  font-size: clamp(24px, 24px, 20px);
  font-weight: 500;
  color: hsla(230, 27%, 22%, 1);
}

.input-field.active {
  @apply border-b-hsla(245, 11%, 43%, 1);
}
.input-field.active + label {
  @apply text-xs -top-0.5;
}

.main-authentification .sign-up-mode form.sign-in-form {
  @apply opacity-0 pointer-events-none;
}
.main-authentification .sign-up-mode form.sign-up-form {
  @apply opacity-100;
  pointer-events: all;
}
.main-authentification .sign-up-mode .forms-wrap {
  @apply left-[55%];
}
.main-authentification .sign-up-mode .carousel {
  @apply left-[0%];
}

.image.show {
  @apply opacity-100;
  transform: none;
}

.bullets span.active {
  @apply w-[1.1rem] bg-hsla(230, 27%, 22%, 1) rounded-2xl;
}

/*Media queries*/
@media (max-width: 850px) {
  .box {
    @apply h-auto max-w-[550px] overflow-hidden;
  }
  .forms-wrap {
    @apply w-full h-auto;
    position: revert;
  }

  .inner-box {
    @apply static w-[revert] h-[revert] p-8;
    transform: none;
  }
  
  .forms-authentification {
    @apply max-w-[revert] py-0 px-4;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .forms-authentification .sign-up-form {
    @apply translate-x-full;
  }
  .main-authentification .sign-up-mode form.sign-in-form {
    @apply -translate-x-full;
  }
  .main-authentification .sign-up-mode form.sign-up-form {
    @apply translate-x-[0%];
  }

  .carousel {
    @apply h-auto w-full flex px-4 py-6;
    position: revert;
  }

  .images-wrapper {
    @apply hidden;
  }
  .text-slider {
    @apply w-full;
  }
}

@media (max-width: 530px) {
  .inner-box {
    @apply p-4;
  }
  
  .text-wrap {
    @apply mb-4;
  }
}
